@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap');

:root {
  --blue-card: #12036f;
  --red-card: #f12711;
  --red-card_2: #e0412f5d;
  --yellow-card: #f5af19;
  --primary-color: #7c5dfa;
  --secondary-color: #1e2139;
  --body-bg: #141625;
  --paid-status-bg: #1f2c3f;
  --paid-status-color: #32cf9b;
  --pending-status-bg: rgba(255, 143, 0, 0.06);
  --pending-status-color: #ff8f00;
  --small-text-color: #888eb0;
  --draft-bg: #252945;
  --delete-btn-bg: #ec5757;
  --edit-btn-bg: #252945;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--body-bg);
}

::selection,
::-moz-selection {
  @apply bg-teal-500 text-white;
}

::-webkit-scrollbar {
  @apply w-0;
}

::-webkit-scrollbar-track {
  @apply shadow rounded-lg bg-teal-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-teal-400 rounded-lg hover:bg-teal-500 transition-all duration-200;
}

.beta__tag {
  position: absolute;
  left: -6rem;
  top: 2rem;
  background-color: #f12711;
  width: 300px;
  transform: rotate(-45deg);
  padding: 0.5rem;
  text-align: center;
}

body {
  margin: 0;
  font-family: 'Reem Kufi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  scroll-behavior: smooth;
  @apply bg-gray-50 overflow-x-hidden;
}

.max-width {
  @apply px-5 xl:max-w-7xl xl:mx-auto 2xl:px-0;
}

.slant {
  border-right: 100vw solid #99f6e4;
  border-top: 150px solid transparent;
}

.slant-left {
  border-right: 100vw solid;
  @apply border-r-teal-200;
  border-bottom: 150px solid transparent;
}

.slant-footer {
  border-left: 100vw solid;
  @apply border-l-teal-900;
  border-top: 150px solid transparent;
  @apply absolute;
  top: -150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #112827;
}

label {
  margin-bottom: 0.3rem;
  font-size: 1.05rem;
  font-weight: 600;
  color: #383838;
}

input,
textarea {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
  color: #616161;
  border: 2px solid hsl(217, 91%, 60%, 30%);
  outline: none;
}

input:focus,
textarea:focus {
  /* border: 2px solid hsl(217, 91%, 60%); */
  border: 2px solid #0048a7;
}

button {
  user-select: none;
}

.footer li {
  margin: 0.5rem 0.2rem;
}

.navbar {
  position: absolute;
  left: 20px;
  top: -100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: calc(100vw - 45px);
  transition: top 0.4s ease-in-out;
  @apply shadow shadow-teal-500;
}

.navbar.open {
  top: 80px;
}

.navbar ul li {
  margin: 1rem 0;
}

.home {
  background-image: linear-gradient(90deg, #f12711 0%, #f5af19 100%);
}

.video {
  width: calc(100vw - 40px);
  margin: auto;
  height: 200px;
}

.testimonials .article:first-child {
  border-color: var(--red-card);
}

.testimonials .article:first-child .content {
  background-color: var(--red-card);
  padding: 1rem;
}

.testimonials .article:nth-child(2) {
  border-color: var(--yellow-card);
}

.testimonials .article:nth-child(2) .content {
  background-color: var(--yellow-card);
  padding: 1rem;
}

.testimonials .article:nth-child(3) {
  border-color: var(--blue-card);
}

.testimonials .article:nth-child(3) .content {
  background-color: var(--blue-card);
  padding: 1rem;
}

.call__to__action {
  background-image: linear-gradient(90deg, #f5af19 0%, #f12711 100%);
}

.about {
  background-image: linear-gradient(90deg, #f12711 0%, #f5af19 100%);
  padding: 2rem 0;
}

.contact__form input,
.contact__form textarea,
.contact__form button {
  width: calc(100vw - 40px);
}

.invoice__preview {
  margin-top: 1.25rem;
}

@media (min-width: 500px) {
  .video {
    height: 300px;
    width: calc(100vw - 60px);
  }
}

@media (min-width: 640px) {
  .video {
    height: 400px;
  }
}

@media (min-width: 768px) {
  .about .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .contact__form input,
  .contact__form textarea,
  .contact__form button {
    width: calc(50vw - 40px);
  }
}

@media (min-width: 1024px) {
  .navbar {
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .navbar.open {
    top: 0;
  }

  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar ul li {
    margin: 0 10px;
  }

  .home .overlay {
    height: calc(80vh - 10px);
  }

  .video {
    width: calc(80vw - 100px);
    height: 600px;
  }

  .slant {
    border-top-width: 200px;
  }

  .slant-left {
    border-bottom-width: 200px;
  }

  .slant-footer {
    border-top-width: 200px;
    top: -200px;
  }
}

@media (min-width: 1280px) {
  .invoice__preview {
    transform: scale(0.8);
    position: sticky;
    right: 0;
    top: 0;
    margin-top: -6rem;
    margin-bottom: 2rem;
  }
}

/* ================= */
a {
  text-decoration: none;
  color: unset;
}

.btn {
  padding: 7px 25px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

p {
  font-size: 0.8rem;
  color: var(--small-text-color);
}

.main__container {
  position: absolute;
  top: 0;
  left: 10%;
  width: calc(100% - 13%);
  padding: 30px 0px;
}

.pending__status,
.paid__status,
.draft__status,
.delete__status,
.edit__btn,
.delete__btn,
.mark__as-btn,
.draft__btn {
  padding: 10px 25px;
  width: 100px;
  border-radius: 5px;
  font-size: 0.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}

.paid__status {
  background: var(--paid-status-bg);
  color: var(--paid-status-color);
}

.pending__status {
  background: var(--pending-status-bg);
  color: var(--pending-status-color);
}

.delete__status {
  color: var(--red-card);
  background: var(--red-card_2);
}

/* ========== sidebar css ========== */
.sidebar {
  width: 120px;
  height: 100vh;
  background: var(--secondary-color) !important;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.sidebar__header,
.sidebar__bottom {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 20px 20px 0px;
  /* background: var(--primary-color); */
  background: #0048a7;
}

.sidebar__bottom {
  background: var(--secondary-color) !important;
  border-top: 1px solid var(--primary-color);
}

.sidebar__bottom img {
  border-radius: 50%;
}

/* =========== home page style start =========== */
.invoice__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.invoice__header-logo h3 {
  color: #fff;
}

.invoice__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background: var(--secondary-color);
  border-radius: 0.5rem;
  margin-bottom: 1.9rem;
  transition: 1s;
  color: #fff;
  cursor: pointer;
}

.invoice__item:hover {
  border: 1px solid var(--primary-color);
  transform: scaleY(1.1);
}

.invoice__container {
  padding-bottom: 200px !important;
}

/* =========== home page style end =========== */
/* =========== invoice details style start========= */
.back__btn {
  margin-bottom: 1.9rem;
}

.back__btn h6 {
  font-size: 0.9rem;
  cursor: pointer;
}

.details__status {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.invoice__details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-radius: 0.5rem;
  margin-bottom: 1.9rem;
  background: var(--secondary-color);
}

.details__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.mark__as-btn {
  width: 130px !important;
  padding: 10px 5px !important;
  background: var(--primary-color);
  color: #fff;
}

.delete__btn {
  background: var(--delete-btn-bg);
  color: #fff;
}

.edit__btn {
  background: var(--edit-btn-bg);
  color: #fff;
}

.invoice__details {
  background: var(--secondary-color);
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
}

.details__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.9rem;
}

.invoice__created-date {
  margin-bottom: 1.9rem;
}

.invoice__created-date p,
.invoice__payment {
  margin-bottom: 5px;
}

.invoice__client-address p {
  margin-bottom: 5px;
}

.invoice__client-address h4 {
  margin-bottom: 10px;
}

.invoice__item-box {
  background: #252945;
  padding: 30px;
  border-radius: 7px 7px 0px 0px;
}

.list {
  list-style: none;
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.list__item-box {
  width: 25% !important;
  text-align: right !important;
}

.item__name-box {
  width: 50% !important;
}

.grand__total {
  background: #0c0e16;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 0px 0px 7px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =========== invoice details style end========= */
/* =========== add new page style start ======== */
.new__invoice {
  width: 60%;
  margin: auto;
}

.new__invoice-header {
  margin-bottom: 1.9rem;
}

.form__group input {
  padding: 12px 20px;
  width: 100%;
  border-radius: 5px;
  background: var(--secondary-color);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.form__group {
  margin-bottom: 1.9rem;
}

.form__group p {
  margin-bottom: 10px;
}

.inline__form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inline__group {
  width: 48%;
}

.new__invoice-body {
  padding-bottom: 40px;
}

.bill__title {
  margin-bottom: 20px;
}

.bill__to {
  margin-top: 50px;
}

.invoice__items {
  margin-top: 70px;
}

.invoice__items h3 {
  margin-bottom: 30px;
}

.add__item-btn {
  width: 100%;
  background: var(--secondary-color);
  padding: 12px 25px;
  border-radius: 50px;
  border: none;

  outline: none;
  color: #fff;
  margin-top: 50px;
  cursor: pointer;
}

.draft__btn {
  background: #1f2c3f;
  color: #fff;
  margin-right: 30px;
  width: 150px !important;
}

.new__invoice__btns {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

/* =========== add new page style end ======== */

.disable {
  cursor: none;
  pointer-events: none;
  opacity: 50%;
}

/* ============== modal style ============ */
.delete__modal {
  background: rgba(9, 10, 17, 0.76);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  padding: 30px;
  background: var(--secondary-color);
  z-index: 99999999;
  border-radius: 5px;
}

.modal h3 {
  margin-bottom: 15px;
}

.modal p {
  font-size: 0.8rem;
  line-height: 25px;
}

.modal__btns {
  margin-top: 25px;
}

.modal__btns button:first-child {
  background: #fff;
  color: var(--secondary-color);
}

.showModal {
  display: block;
}
